@charset "UTF-8";

/* TELAS PEQUENAS*/
@media only screen and (max-width: 480px) {
    /* CONFIGURAÇÕES GERAIS */
    section{
        padding: 6% 6%;
    }
    .flex{
        flex-direction: column-reverse;
    }

    /* CABEÇALHO*/
    header .flex{
        gap: 55px;
    }

    header{
        background-image: url(../imagens/background-header-black.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left center;
    }


    /* MEIO DO SITE */
    section.meio-site img{
        max-width: 100%;
    }

    section.meio-site .txt-meio-site p{
        font-size: 1.5em;
    }

    /* DIREITO-BPC */
    section#direito-bpc  .box-direito-bpc{
        padding: 7px;
    }

    section#direito-bpc{
        background-position: top bottom;
    }
    
    section#direito-bpc h1{
        padding-top: 20px;
    }

    section#direito-bpc .flex{
        gap: 50px;
    }

    section#direito-bpc  .box-direito-bpc img{
        width: 95vw;
    }

    section#direito-bpc  .box-direito-bpc h2, section#direito-bpc  .box-direito-bpc p{
        text-align: center;
        padding-top: 15px;
    }

    section#direito-bpc  .box-direito-bpc h2{
        font-size: 4.5vh;
    }

    section#direito-bpc  .box-direito-bpc p{
        font-size: 3.6vh;
    }

    /* ESPECIALISTAS */

    section.especialistas h1{
        font-size: 2.7em;
    }

    /* FOOTER */
    footer .line-footer{
        justify-content: center;
        flex-direction: column;
    }
  }

 
  /* PAISAGEM */
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    /*CONFIGURAÇÕES GERAIS*/
    section{
        padding: 6% 6%;
    }
    .flex{
        flex-direction: column-reverse;
    }

    /* CABEÇALHO*/
    header{
        background-image: url(../imagens/background-header-black.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left center;
    }

    /* MEIO SITE*/
    section.meio-site img{
        max-width: 100%;
    }

        /* DIREITO-BPC */
        section#direito-bpc  .box-direito-bpc{
            padding: 7px;
        }
    
        section#direito-bpc{
            background-position: top bottom;
        }
        
        section#direito-bpc h1{
            padding-top: 20px;
        }
    
        section#direito-bpc .flex{
            gap: 50px;
        }
    
        section#direito-bpc  .box-direito-bpc img{
            width: 95vw;
        }
    
        section#direito-bpc  .box-direito-bpc h2, section#direito-bpc  .box-direito-bpc p{
            text-align: center;
            padding-top: 15px;
        }
    
        section#direito-bpc  .box-direito-bpc h2{
            font-size: 4.5vh;
        }
    
        section#direito-bpc  .box-direito-bpc p{
            font-size: 3.6vh;
        }

    /* ESPECIALISTAS*/
    .especialistas-box{
        width: 45vw;
    }
    .especialistas-box img{
        width: 50vw;
    }

    /* FOOTER */
    footer .line-footer{
        justify-content: center;
        flex-direction: column;
    }
  }

  
  /* tablets */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    /*CONFIGURAÇÕES GERAIS */
    section{
        padding: 6% 6%;
    }
    .flex{
        flex-direction: column-reverse;
    }

    /* MEIO SITE*/
    section.meio-site .txt-meio-site p{
        font-size: 2.2em;
    }

    /* DIREITO-BPC */
    section#direito-bpc  .box-direito-bpc h2{
        font-size: 4vh;
        padding-top: 25px;
    }

    section#direito-bpc  .box-direito-bpc p{
        font-size: 3vh;
        padding-top: 20px;
    }

    /* ESPECIALISTAS*/
    .especialistas-box{
        width: 45vw;
        margin-bottom: 20px;
    }
    
    section.especialistas .especialistas-box img{
        width: 50vw;
    }

    .especialistas .especialistas-box h2{
        font-size: 40px;
    }

    .especialistas .especialistas-box p{
        font-size: 33px;
        padding-top: 30px;
    }
    
    /* FOOTER */
    footer .line-footer{
        justify-content: center;
        flex-direction: column;
    }

    footer .line-footer iframe{
        width: 450px;
        height: 240px;
    }
  }
  