@charset "UTF-8";

/* TELAS PEQUENAS*/
@media only screen and (max-width: 480px) {
    /* CONFIGURAÇÕES GERAIS */
    button.whats {
        font-size: 2em;
        height: 70px;
        width: 70px;
    }

    .flex, .flex-line-2{
        flex-direction: column-reverse;
    }

    /* CABEÇALHO*/
    header{
        min-height: 83vh;
        padding: 35px 0px 0px 0px;
        background-color: black;
    }

    header .flex{
        gap: 30px;
    }

    header.txt-header{
        display: flex;
        flex-direction: column;
        gap: 90px;
    }

    .txt-header p{
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 1.3em;
        text-align: justify;
        width: 100%;
    }

    header .txt-header h1{
        width: 300px;
        font-size: 2.2em;
        text-align: justify;
    }

    .txt-header strong{
        font-size: 1.4em;
        margin: 0;
    }

    .interface-video iframe{
        width: 750px;
        height: 300px;
    }

    header h1 strong{
        line-height: 50px;
        display: flex;
    }

    header .btn-ajuda{
        margin: 25px;
    }

    /* MEIO DO SITE */
    section.meio-site{
        padding: 13% 4%;
    }

    section.meio-site .flex{
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 0px;
    }

    section.meio-site img{
        max-width: 100%;
        margin-bottom: 15px;
    }

    .meio-site .txt-meio-site{
        width: 100%;
    }

    .meio-site .txt-meio-site p{
        font-size: 1.5em;
        padding: 0px 3%;
    }

    /* DIREITO-BPC */
    section#direito-bpc{
        padding: 3% 4%;
    }

    section#direito-bpc  .box-direito-bpc{
        padding: 7px;
    }

    section#direito-bpc{
        background-position: top bottom;
    }
    
    section#direito-bpc h1{
        margin-top: 20px;
    }

    section#direito-bpc .flex{
        gap: 25px;
    }

    section#direito-bpc .flex-line-2{
        gap: 23px;
    }

    section#direito-bpc  .box-direito-bpc img{
        margin-top: 12px;
        width: 80vw;
    }

    section#direito-bpc  .box-direito-bpc h2, section#direito-bpc  .box-direito-bpc p{
        text-align: center;
        padding-top: 15px;
    }

    section#direito-bpc  .box-direito-bpc h2{
        font-size: 4.1vh;
    }

    section#direito-bpc  .box-direito-bpc p{
        font-size: 3.2vh;
    }

    /* ESPECIALISTAS */
    section.especialistas h1{
        padding-top: 17px;
        font-size: 2.3em;
    }

    section.especialistas .especialistas-box{
        padding: 20px;
    }

    section.especialistas .especialistas-flex{
        gap: 50px;
    }

    /* FOOTER */
    footer .container-footer{
        width: 100%;
    }

    .container-footer p{
        padding-top: 18px;
        line-height: 30px;
    }

    footer .line-footer{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
  }

 
  /* PAISAGEM */
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    /*CONFIGURAÇÕES GERAIS*/
    section{
        padding: 6% 6%;
    }
    
    .flex, .flex-line-2{
        flex-direction: column-reverse;
    }

    /* CABEÇALHO*/
    header{
        min-height: 87vh;
        padding: 35px 0px 0px 0px;
        background-color: black;
    }

    header .flex{
        gap: 55px;
    }

    header h1 strong{
        line-height: 72px;
    }

    .txt-header{
        text-align: center;
    }

    .txt-header p{
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 1em;
        text-align: justify;
        font-size: 1.2em;
        width: 100%;
    }

    header .txt-header h1{
        width: 300px;
        font-size: 1.5em;
        text-align: center;
    }

    header .txt-header h1{
        width: 300px;
        font-size: 2.2em;
        text-align: justify;
    }

    .txt-header strong{
        font-size: 1.4em;
        margin: 0;
    }

    .interface-video iframe{
        width: 750px;
        height: 300px;
    }

    header .btn-ajuda{
        margin: 25px;
    }

    /* MEIO SITE*/
    section.meio-site .flex{
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 0px;
    }

    section.meio-site img{
        max-width: 100%;
        margin-bottom: 15px;
    }

    .meio-site .txt-meio-site{
        width: 100%;
    }

    .meio-site .txt-meio-site p{
        font-size: 1.5em;
        padding: 0px 3%;
    }

    /* DIREITO-BPC */
    section#direito-bpc{
        padding: 3% 4%;
    }

    section#direito-bpc  .box-direito-bpc{
        padding: 7px;
    }

    section#direito-bpc{
        background-position: top bottom;
    }
    
    section#direito-bpc h1{
        margin-top: 20px;
    }

    section#direito-bpc .flex, section#direito-bpc .flex-line-2{
        gap: 25px;
    }

    section#direito-bpc  .box-direito-bpc img{
        margin-top: 12px;
        width: 80vw;
    }

    section#direito-bpc  .box-direito-bpc h2, section#direito-bpc  .box-direito-bpc p{
        text-align: center;
        padding-top: 15px;
    }

    section#direito-bpc  .box-direito-bpc h2{
        font-size: 4.1vh;
    }

    section#direito-bpc  .box-direito-bpc p{
        font-size: 3.2vh;
    }

    /* ESPECIALISTAS*/
    .especialistas-box{
        width: 45vw;
    }
    .especialistas-box img{
        width: 50vw;
    }

    /* FOOTER */
    footer .line-footer{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
  }

  
  /* tablets */
  @media only screen and (min-width: 767px) and (max-width: 1024px) {
    /*CONFIGURAÇÕES GERAIS */
    .flex, .flex-line-2{
        flex-direction: column;
    }

    /* CABEÇALHO */
    header{
        min-height: 100vh;
    }

    .txt-header strong{
        margin: 0;
    }

    header .btn-ajuda {
        width: 385px;
        font-size: 1.6em;
        height: 78px;
    }

    /* MEIO SITE*/
    section.meio-site{
        padding: 9% 4%;
    }

    section.meio-site .flex{
        gap: 45px;
    }

    .meio-site .txt-meio-site {
        width: 100%;
    }

    section.meio-site .txt-meio-site h1{
        font-size: 3.4em;
    }

    section.meio-site .txt-meio-site p{
        font-size: 2em;
    }

    /* DIREITO-BPC */
    section#direito-bpc  .box-direito-bpc h2{
        font-size: 4vh;
        padding-top: 25px;
    }

    section#direito-bpc  .box-direito-bpc p{
        font-size: 3vh;
        padding-top: 20px;
    }

    section#direito-bpc .btn-ajuda{
        width: 360px;
        font-size: 1.6em;
        height: 68px;
    }

    /* ESPECIALISTAS*/
    .especialistas-box{
        width: 45vw;
    }
    
    section.especialistas .especialistas-box img{
        width: 65vw;
    }

    section.especialistas h1{
        padding-top: 17px;
        font-size: 3.8em;
    }

    section.especialistas .especialistas-box{
        padding: 25px;
    }

    section.especialistas .especialistas-flex{
        gap: 50px;
    }

    .especialistas .especialistas-box h2{
        font-size: 52px;
    }

    .especialistas .especialistas-box p{
        font-size: 35px;
        padding-top: 30px;
    }

    section.especialistas .btn-ajuda {
        width: 385px;
        font-size: 1.6em;
        height: 78px;
    }
    
    /* IFRAME */
    section.iframe-video h1{
        font-size: 4em;
    }

    /* FOOTER */
    footer .line-footer{
        justify-content: center;
        flex-direction: column;
    }

    footer .container-footer h2{
        font-size: 2.9em;
    }

    footer .container-footer p{
        font-size: 1.8em;
    }

    footer .line-footer iframe{
        width: 500px;
        height: 250px;
    }
  }

  @media only screen and (min-width:1920px){
    /* CABEÇALHO */
    header{
        min-height: 70vh;
    }

    header p {
        font-size: 2.5em;
    }

    header .btn-ajuda {
        width: 385px;
        font-size: 1.6em;
        height: 78px;
    }

    /* ESPECIALISTAS */
    section.especialistas .btn-ajuda {
        width: 385px;
        font-size: 1.6em;
        height: 78px;
        margin-top: 30px;
    }
  }
  