@charset "UTF-8";

/* CONFIGURAÇÕES GERAIS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor01: #171d2e;
    --cor02: white;
    --cor03: #a36f5a;
    --cor04: #71422f;
}

.interface{
    max-width: 100%;
    margin: 0 auto;
}

button.whats {
    position: fixed;
    bottom: 20px;
    padding-bottom: 10px;
    right: 10px; 
    font-size: 2.3em;
    height: 76px;
    width: 70px;
    border-radius: 50%; 
    padding: 10px;
    margin-right: 10px;
    background-color: rgb(41, 203, 41);
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 999;
    transition: .2s;
}

button.whats:hover {
    transform: scale(1.10);
    box-shadow: 1px 1px 1px #00ff08;
}


button.whats:hover{
    transform: scale(1.10);
    box-shadow: 1px 1px 1px #00ff08;
}

.flex{
    display: flex;
}

body{
    width: 100%;
    min-height: 100vh;
}

.btn-ajuda{
    background-color: green;
    width: 250px;
    height: 58px;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: .2s;
    border: rgba(255, 255, 255, 0.507);
}

.btn-ajuda i{
    text-align: center;
    margin-top: 5px;
}

.btn-ajuda:hover{
    transform: scale(1.1);
}


/* CABEÇALHO */
header {
    position: relative; 
    color: white;
    min-height: 100vh;
    font-family: 'Playfair Display', serif;
    padding: 35px 10px 0px 15px;
}

header .flex{
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 1; 
    z-index: -1; 
}

.txt-header{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txt-header strong{
    font-size: 1.7em;
    margin: 15px;
}

header h1{
    font-size: 2.8em;
    font-weight: bolder;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header p{
    margin-top: 17px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bolder;
    font-size: 2.5em;
    text-align: justify;
    font-family: 'Aoboshi One', serif;
}

header .btn-ajuda{
    margin-top: 25px;
}


header h1 strong{
    padding: 5px;
    border-radius: 25px;
    line-height: 70px;
}

/* MEIO-DO-SITE */
section.meio-site{
    padding: 9% 4%;
}

section.meio-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.meio-site h1{
    font-size: 41px;
    text-align: center;
    line-height: 40px;
}

.meio-site .txt-meio-site{
    width: 40%;
}

.meio-site .txt-meio-site p{
    margin-top: 40px;
    font-size: 1.6em;
    text-align: justify;
}

.meio-site .img-meio-site img{
    position: relative;
    margin-top: 30px;
    border-radius: 25px;
}

/* DIREITO BPC */

.container-btn{
    text-align: center;
    margin: 20px;
}

section#direito-bpc{
    padding: 3% 4%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image:  url(../imagens/natureza-morta-com-a-balanca-da-justica\ \(2\).jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
}

section#direito-bpc h1{
    text-align: center;
    background-color: white;
    border-radius: 1px 30px 30px 1px;
    box-shadow: 6px 6px 2px black;
    font-size: 2.7em;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 15px;
}

section#direito-bpc .flex{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 35px;
    gap: 90px;
}


section#direito-bpc  .box-direito-bpc img{
    border-radius: 20px;
    width: 550px;
    filter: drop-shadow(7px 7px 1px rgb(97, 96, 96));
    transition: .2s;
}

section#direito-bpc .flex-line-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;
}

section#direito-bpc  .box-direito-bpc{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    transition: .2s;
}

section#direito-bpc  .box-direito-bpc img:hover{
    transform: scale(1.02);
}

section#direito-bpc  .box-direito-bpc h2, section#direito-bpc  .box-direito-bpc p{
    text-align: center;
    padding-top: 7px;
}

/* IFRAME-VIDEO */
section.iframe-video{
    padding: 3% 2%;  
}

section.iframe-video h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3em;
}

section.iframe-video .interface-video{
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.interface-video iframe{
    width: 950px;
    height: 600px;
    border-radius: 10px;
    filter: drop-shadow(9px 9px 3px rgb(125, 125, 125));
}

/* ESPECIALISTAS */
section.especialistas {
    padding: 5% 4%;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
}

section.especialistas .especialistas-flex {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    flex-wrap: wrap;
}

section.especialistas .especialistas-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    border: 2px solid #ffffffd5;
    border-radius: 20px;
    transition: .2s;
    box-shadow: 0 0 12px white;
    text-align: center;
}

.especialistas h1 {
    font-size: 2em;
    padding-bottom: 70px;
    font-size: 2.7em;
    font-family: 'Aoboshi One', serif;
}

.especialistas-box img {
    border-radius: 20px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 15px;
}

section.especialistas .especialistas-box:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px white;
}

.especialistas .especialistas-box h2 {
    font-size: 32px;
    margin: 15px 0;
}

.especialistas .especialistas-box p {
    font-size: 22px;
}
/* ESTILO DO RODAPÉ */

footer{
    margin: auto;
    padding: 5% 5%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.139);
    background-color: black;
    color: white;
}

footer .line-footer{
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 51px;
}

.container-footer h2{
    text-align: center;
}

.container-footer p{
    padding-top: 10px;
    font-size: 1.2em;
}

.container-footer iframe{
    border-radius: 20px;
    padding-top: 15px;
}

.container-footer p a{
    color: white;
    text-decoration: none;
}

.container-footer p a:hover{
    text-decoration: underline;
}