@charset "UTF-8";

/* CONFIGURAÇÕES GERAIS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor01: #171d2e;
    --cor02: white;
    --cor03: #a36f5a;
    --cor04: #71422f;
}


.interface{
    max-width: 100%;
    margin: 0 auto;
}

.efeito-text, .efeito-btn-ajuda, .efeito-txt-topo-site, .efeito-img-topo, .efeito-pessoas-bpc {
    visibility: hidden;
}

button.whats {
    position: fixed;
    bottom: 20px;
    padding-bottom: 10px;
    right: 10px; 
    font-size: 2.3em;
    height: 76px;
    width: 70px;
    border-radius: 50%; /* Keep this for a round button */
    padding: 10px;
    margin-right: 10px;
    background-color: rgb(41, 203, 41);
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 999;
    transition: .2s;
}

button.whats:hover {
    transform: scale(1.10);
    box-shadow: 1px 1px 1px #00ff08;
}


button.whats:hover{
    transform: scale(1.10);
    box-shadow: 1px 1px 1px #00ff08;
}

.flex{
    display: flex;
}


body{
    width: 100%;
    min-height: 100vh;
}


.btn-ajuda{
    background-color: green;
    width: 250px;
    height: 58px;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: .2s;
    border: rgba(255, 255, 255, 0.507);
}

.btn-ajuda i{
    text-align: center;
    margin-top: 5px;
}

.btn-ajuda:hover{
    transform: scale(1.1);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* CABEÇALHO */
header {
    position: relative; 
    color: white;
    padding-top: 7vh;
    min-height: 100vh;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../imagens/background-header.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1; 
    z-index: -1; 
}


header h1{
    font-size: 2.8em;
    padding-top: 3vh;
    font-weight: bolder;
}

header h1 strong{
    padding: 5px;
    border-radius: 25px;
    line-height: 70px;
}

header p{
    font-size: 1.8em;
    padding: 6vh;
    font-family: 'Aoboshi One', serif;
}

header .btn-ajuda{
    margin: 6vh;
}

/* MEIO-DO-SITE-SITE */
section.meio-site{
    padding: 9% 4%;
}

section.meio-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.meio-site h1{
    font-size: 41px;
    text-align: center;
    line-height: 40px;
}


.meio-site .txt-meio-site p{
    margin-top: 40px;
    font-size: 1.6em;
    text-align: justify;
}

.meio-site .img-meio-site img{
    position: relative;
    margin-top: 30px;
    border-radius: 25px;
}

/* DIREITO BPC */
section.direito-bpc{
    background-color: #562d1fed;
    color: white;
    min-height: 70vh;
    font-family: Arial, Helvetica, sans-serif;
}

section.direito-bpc{
    padding: 40px 5%;
    margin: auto;
}

section.direito-bpc .flex{
    gap: 60px;
    justify-content: center;
}

.direito-bpc  p,.direito-bpc  h1 {
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
}

.direito-bpc  h1{
    font-size: 40px;
}


section.direito-bpc .pessoas-bpc{
    padding: 40px;
    border: 2px solid whitesmoke;
    box-shadow: 0 0 10px white;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
    text-align: center;
}

section.direito-bpc .pessoas-bpc:hover{
    transform: scale(1.05);
}

.direito-bpc .pessoas-bpc span{
    font-size: 50px;
    color: #00ff08;
}

.direito-bpc .pessoas-bpc h4{
    font-size: 23px;
    margin-top: 10px;
}

.direito-bpc .pessoas-bpc p{
    text-align: center;
    font-size: 17px;
}

section.direito-bpc button{
    margin-top: 2.5em;
}

/* ESPECIALISTAS */
/* ESPECIALISTAS */
section.especialistas {
    padding: 5% 4%;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
}

section.especialistas .interface {
    max-width: 100%;
    margin: 0 auto;
}

section.especialistas .especialistas-flex {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    flex-wrap: wrap;
}

section.especialistas .especialistas-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    border: 2px solid #ffffffd5;
    border-radius: 20px;
    transition: .2s;
    box-shadow: 0 0 12px white;
    text-align: center;
    
}

.especialistas h1 {
    font-size: 2em;
    padding-bottom: 70px;
    font-size: 2.7em;
    font-family: 'Aoboshi One', serif;
}

.especialistas-box img {
    border-radius: 20px;
    height: auto;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 15px;
}

section.especialistas .especialistas-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px white;
}

.especialistas .especialistas-box h2 {
    font-size: 32px;
    margin: 15px 0;
}

.especialistas .especialistas-box p {
    font-size: 22px;
}

section.especialistas .btn-ajuda {
    margin-top: 10vh;
    justify-content: center;
    align-items: center;
}

/* ESTILO DO RODAPÉ */

footer{
    margin: auto;
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.139);
    background-color: black;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #a36f5a;
}

footer .line-footer p i{
    bottom: 20px;
    font-size: 2em;
    height: 9vh;
    border-radius: 50%;
    right: 10px; 
    padding: 10px;
    margin-right: 10px;
    background-color: rgb(41, 203, 41);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

footer .line-footer p i:hover{
    transform: scale(1.10);
    box-shadow: 1px 1px 1px #00ff08;
}

.line-footer p a{
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}

.line-footer p a:hover{
    text-decoration: underline;
}


/* section.especialistas{
    padding: 5% 4%;
    background-color: black;
    color: white;
}

section.especialistas .flex{
    gap: 65px;
    max-width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

section.especialistas .especialistas-box{
    padding: 40px;
    border: 2px solid #ffffffd5;
    border-radius: 20px;
    transition: .2s;
    width: 27vw;
    box-shadow: 0 0 12px white;
}

.especialistas h1{
    text-align: center;
    font-size: 2em;
    padding-bottom: 70px;
    font-size: 2.7em;
    font-family: 'Aoboshi One', serif;
}

.especialistas-box img{
    width: 320px;
    border-radius: 20px;
        max-width: 100%;
    height: auto;
    padding-right: 5vh;
}

section.especialistas .especialistas-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px white;
}


.kayque-box{
    padding-top: 10px;
}

.kayque-box p{
    padding-top: 15px;
}

.especialistas .especialistas-box h2{
    font-size: 27px;
    margin: 15px 0;
    text-align: center;
}

.especialistas .especialistas-box p{
    text-align: center;
}

.matheus-box p{
    padding-top: 10px;
}

.especialistas .btn-ajuda{
    margin-top: 10vh;
    justify-content: center;
    align-items: center;
} */